html { 
  background: url(../images/codeBg4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  text-shadow: 1px 1px 0 #000;
}

.choice {
  margin: auto;
  text-align: center;
  font-size: 1.5vw !important;
}

.choice:hover {
  box-shadow: inset 0px 0px 200px 3px white !important;
  text-shadow: -1px -1px 0 #000;
}

.modalBox {
  border-radius: 10px;
  background-color: #757083 !important;
  border: 15px solid #5c76dc;
  box-shadow: inset 0px 0px 5px 3px white !important;
  padding: 10%;
  margin: 10% 15%;
}

.quizBoxStyle {
  padding: 5% 5%;
  font-size: 2vw;
  font-weight: 400;
  border: 8px solid #2f1987;
  border-radius: 5px;
  box-shadow: inset 0px 0px 30px 1px white;
}

#A {
  width: 20%;
  float: left;
}

#B {
  width: 20%;
  float: left;
  margin: 0% 2.75%;}

#C {
  width: 20%;
  float: right;
}

#startQuiz {
  text-align: center;
  width: 100%;
}

#startQuizText {
  color: white;
  font-weight: 600;
  font-size: 7vw;
}

#quiz {
  padding: 2% 4%;
}

#timer {
  clear: both;
}

/* font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace; */
