html { 
  background: url(../images/codeBg4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modalBox {
  border-radius: 10px;
  background-color: #757083 !important;
  border: 15px solid #5c76dc;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  padding: 10%;
  margin: 30% 15%;
}

#startQuiz {
  text-align: center;
  width: 100%;
}

#startQuizText {
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 7vw;
}

/* font-family: 'Press Start 2P', cursive;
font-family: 'Source Code Pro', monospace; */
